:root {
        --font-family: "Lexend Deca", sans-serif;
        --second-family: "Arvo", sans-serif;
        --background-color: #020617;
        --background-dark: #111827;
        --yelow: #eab308;
}
